<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Qna-Mapper">
	<sql id="search">
		<if test="searchType == 't'.toString()">
			and title like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'w'.toString()">
			and writer like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString()">
			and content like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'tc'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			content like '%'||#{keyword}||'%'
			)
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			writer like '%'||#{keyword}||'%'
			or
			content like '%'||#{keyword}||'%'
			)
		</if>
	</sql>
	
	<select id="selectSearchQnaList" resultType="qna">
		select 
		*
		from qna
		where qno is not null
		<include refid="search" />
		order by regDate desc
	</select>
	<select id="selectSearchQnaListCount" resultType="int">
		select
		count(*)
		from qna
		where qno is not null
		<include refid="search" />
		order by regDate desc
	</select>
	
	<select id="selectQnaByQno" parameterType="int" resultType="qna">
		select
		*
		from qna
		where qno=#{qno}
	</select>
	
	<select id="selectQnaSequenceNextValue" resultType="int">
		select qna_seq.nextVal
		from dual
	</select>
	
	<update id="increaseViewCount" parameterType="int"><!-- detail 할 때 -->
		update qna
		set viewcnt=viewcnt+1
		where qno=#{qno}
	</update>
	
	<update id="insertQna" parameterType="qna">
		insert into
		qna(qno, title, writer, content, regdate)
		values(#{qno},#{title},#{writer},#{content}, sysdate)
	</update>
	
	<update id="updateQna" parameterType="qna">
      update qna
      set title = #{title}
        , content = #{content}
      where qno = #{qno}
   </update>
	
	<update id="deleteQna" parameterType="int">
		delete
		from qna
		where qno=#{qno} cascade;
	</update>
	
</mapper>